{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="row p-3">
    <div class="col">
        <h1 class="text-center">Erreur 404</h1>
    </div>
</div>
<div class="row">
    <div class="col p-3">
        <p class="text-center">La page ou le contenu que vous avez demandé n'existe pas.</p>
    </div>
</div>



{% endblock %}