<div class="row p-3">
    <div class="col">
        <h1 class="text-center">Erreur 500</h1>
    </div>
</div>
<div class="row">
    <div class="col p-3">
        <p class="text-center">Nous avons rencontré une erreur, si le problème persiste, veuillez contacter l'administrateur à l'adresse suivante : contact@elie-terrien.fr.</p>
    </div>
</div>