<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!-- CSS custom -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <!-- Matomo -->
        <script>
          var _paq = window._paq = window._paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//visitors.demo.elie-terrien.fr/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <!-- End Matomo Code -->


    </head>
    <body>
    <main>
    {% load wagtailcore_tags wagtailimages_tags menu_tags %}
    <!-- Barre de navigation -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light color-primary-0">
      <div class="container">
          <a class="navbar-brand" href="/">ENumEA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mb-2 mb-lg-0">
          {% get_menu "main" as menus %}
              {% for menu in menus.menu_items.all %}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{menu.link }}">{{menu.title}}</a>
                  </li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- Fin barre de navigation -->

            <div class="container">

                {% block content %}

                <!-- Le contenu des pages est affiché ici -->

                {% endblock %}


            </div>
        </main>
        <footer class="color-primary-2 text-center">
            <a href="{% slugurl 'mentions-legales' %}">Mentions légales</a>
        </footer>


    <!-- JS Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>