{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}

<!-- Mettre le contenu de la page ici -->
    <h1 class="text-center py-5">{{ page.title }}</h1>

    <div class="text-center">{{ page.intro|richtext }}</div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for post in page.get_children.live %}
          <div class="col p-3">
                <div class="card card-article shadow p-3 mb-5 bg-body rounded">
                  <div class="card-body">
                      <h5 class="card-title text-center p-2"><a href="{% pageurl post %}">{{ post.title }}</a></h5>
                    <p class="card-text text-justify">{{ post.specific.introduction }}</p>
                      <p class="text-center mt-3"><a href="{% pageurl post %}" class="btn btn-primary">Lire la suite</a></p>
                  </div>
                </div>
          </div>
        {% endfor %}
    </div>


{% endblock %}