{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-9">
        <article>
            <h1 class="p-3">{{self.title}}</h1>

            {% for block in page.body %}
                {% if block.block_type == 'bloc_images' %}
                    <div class="row justify-content-md-center p-3">
                        {% for img in block.value %}
                        <div class="col">
                            <div class="text-center">
                                {% image img fill-300x300  as image_png %}
                                <img src="{{ image_png.url }}" class="rounded m-2" alt="...">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% elif block.block_type == 'paragraph' %}
                <div class="row justify-content-md-center p-3">
                    <div class="col">
                        {{block.value|richtext}}
                    </div>
                </div>
                {% elif block.block_type == 'carrousel' %}
                    <div class="row justify-content-md-center p-3">
                        <div class="col">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                              <div class="carousel-inner">
                                        {% for img in block.value %}
                                            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                                {% image img fill-1000x400  as image_png %}
                                                <img src="{{ image_png.url }}" class="d-block w-100" alt="...">
                                            </div>
                                        {% endfor %}
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                        </div>
                    </div>
                {% elif block.block_type == 'vertical_image' %}
                    <div class="row justify-content-md-center p-3">
                        <div class="col">
                            <div class="text-center">
                                {% image block.value max-1000x800  as image_png %}
                                <img src="{{ image_png.url }}" class="img-fluid" alt="...">
                            </div>
                        </div>
                    </div>
                {% elif block.block_type == 'code_zone' %}
                    <div class="row justify-content-md-center p-3">
                        <div class="col">
                            <div class="text-center">
                                <pre class="code-zone">
                                    <code>{{block.value}}</code>
                                </pre>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {{ block.value }}
                {% endif %}
            {% endfor %}
        </article>
    </div>
</div>
<!-- Mettre le contenu de la page ici -->

{% endblock %}