{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<!-- Mettre le contenu de la page ici -->

<div class="text-center pt-3">
  {% image self.photo_perso fill-250x250  as image_png %}
  <img src="{{image_png.url}}" class="image-circle" alt="...">
</div>

<div class="row p-3">
  <div class="col">
    <p class="text-center">Bonjour, je suis Elie Terrien, développeur d'application et entrepreneur depuis 8 ans.</p>
    <p class="text-center">J'habite à Angers et je travaille pour des clients dans les Pays de la Loire, à Paris et Barcelone.</p>
    <p class="text-center">J'accompagne les entreprises pour développer des <b>applications SAAS</b>, <b>e-commerce</b>, <b>robot de trading</b> et <b>solutions sur mesure</b>.</p>
    <p class="text-center">En complément de mon activité de développeur, je mentore des étudiants sur le parcours de formation
      <a href="https://openclassrooms.com/fr/paths/322-developpeur-dapplication-python" target="_blank">développeur d'application Python</a> d'OpenClassRooms.</p>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 p-2">
  <div class="col">
    <div class="text-center">
        <div class="picto-solution">
           <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
            <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
          </svg>
        </div>
    </div>
    <div class="card card-solution">
      <div class="card-header color-primary-0">
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Conception</h5>
        <p class="card-text text-center p-2">Accompagnement à la rédaction du cahier des charges, design des maquettes et choix technologiques de votre futur logiciel.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="text-center">
        <div class="picto-solution">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-laptop" viewBox="0 0 16 16">
              <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
            </svg>
        </div>
    </div>
    <div class="card card-solution">
      <div class="card-header color-primary-0">
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Développement</h5>
        <p class="card-text text-center p-2">Réalisation sur mesure des briques de votre logiciel, contrôle qualité et tests du bon fonctionnement de l'application, déploiement sur serveur.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="text-center">
        <div class="picto-solution">
          <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-life-preserver" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm6.43-5.228a7.025 7.025 0 0 1-3.658 3.658l-1.115-2.788a4.015 4.015 0 0 0 1.985-1.985l2.788 1.115zM5.228 14.43a7.025 7.025 0 0 1-3.658-3.658l2.788-1.115a4.015 4.015 0 0 0 1.985 1.985L5.228 14.43zm9.202-9.202-2.788 1.115a4.015 4.015 0 0 0-1.985-1.985l1.115-2.788a7.025 7.025 0 0 1 3.658 3.658zm-8.087-.87a4.015 4.015 0 0 0-1.985 1.985L1.57 5.228A7.025 7.025 0 0 1 5.228 1.57l1.115 2.788zM8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg>
        </div>
    </div>
    <div class="card card-solution">
      <div class="card-header color-primary-0">
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Maintenance</h5>
        <p class="card-text text-center p-2">Support par mail et téléphone. Mise à jour de votre logiciel, application de correctifs et contrôle sécurité. Développement de nouvelles fonctions.</p>
      </div>
    </div>
  </div>
</div>



{% endblock %}