{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<!-- Mettre le contenu de la page ici -->
<div class="row justify-content-center py-5">
  <div class="col-md-8 col-12 pt-5">
    <h1 class="text-center mt-2 p-2">{{self.title}}</h1>
    <div class="text-center">
      {{self.body|richtext}}
    </div>
  </div>
</div>


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="max-height: 500px;">
  <div class="carousel-inner">
    {% for block in self.carousel %}
    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
      {% image block.value.image fill-1300x500  as image_png %}
      <img src="{{ image_png.url }}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{block.value.title}}</h5>
        <p>{{block.value.legend}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="row justify-content-center mt-4">
  <div class="col">
    <h2 class="category-title">Actualités</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for post in actu.get_children.live %}
          <div class="col p-3">
                <div class="card card-article shadow p-3 mb-5 bg-body rounded">
                  <div class="card-body">
                      <h5 class="card-title text-center p-2"><a href="{% pageurl post %}">{{ post.title }}</a></h5>
                    <p class="card-text text-justify">{{ post.specific.introduction }}</p>
                      <p class="text-center mt-3"><a href="{% pageurl post %}" class="btn btn-primary">Lire la suite</a></p>
                  </div>
                </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col">
    <h2 class="category-title">Projets</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for post in projet.get_children.live %}
          <div class="col p-3">
                <div class="card card-article shadow p-3 mb-5 bg-body rounded">
                  <div class="card-body">
                      <h5 class="card-title text-center p-2"><a href="{% pageurl post %}">{{ post.title }}</a></h5>
                      <p class="card-text text-justify">{{ post.specific.introduction }}</p>
                      <p class="text-center mt-3"><a href="{% pageurl post %}" class="btn btn-primary">Lire la suite</a></p>
                  </div>
                </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}