{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="row">
    <div class="col-12">
            <h1 class="p-3 text-center py-5">{{self.title}}</h1>
            {% for block in page.body %}
                {% if block.block_type == 'titre_section' %}
                <div class="row justify-content-center">
                  <div class="col-md-8">
                    <h2 class="category-title">{{block.value|richtext}}</h2>
                  </div>
                </div>
                {% elif block.block_type == 'paragraphe' %}
                <div class="row justify-content-md-center p-3">
                    <div class="col-md-8 col-12">
                        {{block.value|richtext}}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
    </div>
</div>
<!-- Mettre le contenu de la page ici -->

{% endblock %}