{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="row p-3">
    <div class="col">
        <h1 class="text-center">{{self.title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col p-3">
        {{self.body|richtext}}
    </div>
</div>



{% endblock %}