{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
 <h1 class="p-4 text-center">{{self.title}}</h1>
<div class="row justify-content-center">

    {% for block in page.membres %}
        <div class="col-12 col-md-6">
            <div>
                {% image block.value.photo max-100x100  as image_png %}
                <div class="text-center">
                    <img src="{{ image_png.url }}" class="rounded" alt="{{block.value.nom}}">
                </div>
                <h3 class="text-center text-uppercase p-2">{{block.value.nom}}</h3>
                <div class="text-center">{{block.value.description|richtext}}</div>
                <p class="text-center p-2"><b>{{block.value.statut}}</b></p>
            </div>
        </div>
    {% endfor %}

</div>
<!-- Mettre le contenu de la page ici -->

{% endblock %}