{% extends 'base.html' %}
{% load wagtailcore_tags crispy_forms_tags %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p>
        {{ self.intro|richtext }}
    </p>

    <form action="{% pageurl page %}" method="POST">
        {% csrf_token %}

        {{ form|crispy }}


        <button type="submit" class="btn btn-primary mt-2">
            Envoyer
        </button>
    </form>
{% endblock %}