* {
	margin: 0;
}
html, body {
	height: 100%;
}

.color-primary-0 { background-color: #398BC5 }	/* Main Primary color */
.color-primary-1 { color: #053D65 }
.color-primary-2 { background-color: #096AAF }
.color-primary-3 { color: #74B1DD }
.color-primary-4 { color: #D9ECF9 } /* blanc */

main {
  min-height: 100%;
  /* equal to footer height */
    margin-bottom: -50px;
}

main:after {
  content: "";
  display: block;
}
footer, main:after {
  /* .push must be the same height as footer */
	height: 50px;
	width: 100%;
	display: inline-flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: transparent;
}

footer a:hover {
  color: #FFFFFF;
  text-decoration: none;
}


.image-circle {
    border-radius: 150px;
}

.card-header {
    min-height: 45px;
}

.card-solution {
    z-index:-1;
    margin-top:-40px;
    min-height: 230px;
}

.card-article {
    min-height: 230px;
    border: 0px;
}

.card-article a {
    color: #053D65;
    text-decoration: none;
}

.text-justify {
    text-align: justify;
}

.picto-solution {
  height: 110px;
  width: 110px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,.125);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.code-zone {
    background: #F2F2F2;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #CCC;
}

.carousel-caption {
    /* Légende carousel */
    padding-top: 10px;
    padding-bottom: 0px;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
}

.category-title {
    border-bottom-color: black;
    border-bottom-style: solid;
}

